*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #7e7d7d;/* #000 url(../imagenes/fondo.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    margin: 50px auto;
    width: 90%;
    max-width: 800px;
    background: #fff;
    display: flex;
    flex-direction:row;/*row: se ponen a lado del uno del otro*/
    flex-wrap: wrap;/*lo que no cabe se pone abajo*/
}

header{
    width: 35%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    background: #182f5f;
    text-align: center;
}

header .grosor{
    border: none; 
    height: 7px;
    color: #fff;
    background-color: #fff;
}

header .perfil{
    margin-top: 50px;
}

header .datos, .datos2{
    margin-top: 20px;
    margin-bottom: 10px;
}

header .datos, .datos2{
    font-family: Arial;
    color: #fff;
}

header .titulo{
    color: #fff;
    margin-bottom: 10px;
}

header .intereses, .objetivo, .aptitudes{
    margin-top: 40px;
    margin-bottom: 20px;
}

header .intereses ul, .objetivo ul, .aptitudes ul{
    list-style: none;
}

header .intereses ul li a, .objetivo ul li a, .aptitudes ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

header .espacio{
    padding: 40px;
}


.main{
    padding: 0px 0px;
    width: 65%;;
}

.main .encabezados{
    margin-left: 1px; 
    background: linear-gradient(to right, #182f5f, #182f5f, white);
    color: #fff;
    margin-top: 50px;
    margin-bottom: 15px;
}

.main h2{
    padding: 5px 20px;
}

.main h3{
    margin-left: 5px;
    color: #102f70;
}

.main .margen{
    margin-bottom: 15px;
}

.main p{
    margin-left: 5px;
    color: #414040;
}

.main .laboral .btn-fechas, .educacion .btn-fechas{
    margin-left: 1px;
    margin-top: 10px;
    margin-top: 0;
    padding: 2px 5px;
    background: #525252;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.main .informatica ul{
    list-style: none;
    margin-left: 5px;
    color: #414040;
}



