*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #7e7d7d;/* #000 url(../imagenes/fondo.jpg);*/
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    margin: 50px auto;
    width: 90%;
    max-width: 800px;
    background: #fff;
    display: flex;
    flex-direction:row-reverse;/*row: se ponen a lado del uno del otro*/
    flex-wrap: wrap;/*lo que no cabe se pone abajo*/
}

header{
    width: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:initial;
}

header .datos h1{
    color:#090981;
    padding: 0 20px;
}

header .datos p{
    padding: 0 20px;
}

.main{
    padding: 0 30px;
    width: 70%;;
    text-align: center;
    margin-bottom: 50px;
}

.main article .laboral, .educacion, .informatica ul{
	margin-bottom: 20px;
    list-style: none;
}

.main article h3{
    margin-top: 20px;
	font-weight:bolder;
    font-size: 16px;
}

.main  article p{
    font-size: 14px;
    line-height: 20px;
}

 .main hr{
    border-color: #537dca;
}

aside{
    width: 25%;
    background: #264b94;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
   padding: 20px;
}

aside  .titulo{
	color: #071836;
	border-bottom: 1px solid #071836;
	margin-bottom: 10px;
}

aside .intereses ul, .objetivo ul, .aptitudes ul{
    list-style: none;
    font-size: 10px;
}

aside .intereses ul li, .objetivo ul li, .aptitudes ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .intereses ul li a, .objetivo ul li a, .aptitudes ul li a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
        flex-direction: column;
    }

    aside .titulo{
        margin-top: 20px;
    }

    aside .intereses ul li a, .objetivo ul li a, .aptitudes ul li a{   
        color: #fff;
        font-size: 12px;
        text-decoration: none;
    }
}

/*--------------------*/


